@import "../../CommonStyles";

.counter__span {
  font-size: 70px;
  font-weight: bold;
  color: #6CE3F9;
}

.counter__edit_text {
  font-size: 36px;
  font-weight: bold;
  color: #6CE3F9;
}

.red {
  color: red;
}